
/* I only put one rule in here so it wouldn't be empty. */
/* This rule gives the site the left and right margins. */

body {
    margin: 5% 10% 0 10%;
    background-color: seashell;
}
nav a {
    margin right: 10%;
    border: solid;
    background-color: orange;
    color: white;
    padding: 20px;
}
h1, h2, h3{
    font-size:10vw;
    color: orange;
}
img {
    margin: 15px 15px 10px 15px; 
    width: 45%; 
    float: right;
}
#h01{
    color: orange;
}
.left,.right {
    float: left;
    width: 20%;
}
.main {
    float: left;
    width: 60%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td{
    padding: 15px;
    background-color:white;
}
th{
    background-color: rgb(212, 238, 234);                
}
td{
    text-align: left;
}
@media screen and (max-width: 800px){
    .left, .main, .right{
        width: 100%
}
