
/* I only put one rule in here so it wouldn't be empty. */
/* This rule gives the site the left and right margins. */

body {
    margin: 5% 10% 0 10%;
    background-color: yellowgreen;
}
h1, h2, h3{
    font-size:10vw;
    color: orange;
}
img {
    margin: 15px 15px 10px 15px; 
    width: 45%; 
    float: right;
}
#h01{
    color: orange;
}
